.controls {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: hsl(246 6% 9%);
  padding: 3.5rem 1rem;
  color: #fff;
  font-size: 0.75rem;
  display: grid;
  gap: 0.75rem 0.5rem;
  height: 100vh;
  grid-template-rows: max-content;
}

.column {
  height: fit-content;
  display: grid;
  grid-template-columns: 6rem;
  grid-auto-flow: column;
  align-items: center;
}
