@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'proximanova-thin';
  src: url('/assets/fonts/proximanova-thin/proximanova-thin.woff2') format('woff2'),
    url('/assets/fonts/proximanova-thin/proximanova-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova-light';
  src: url('/assets/fonts/proximanova-light/proximanova-light.woff2') format('woff2'),
    url('/assets/fonts/proximanova-light/proximanova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('/assets/fonts/proximanova-regular/proximanova-regular.woff2') format('woff2'),
    url('/assets/fonts/proximanova-regular/proximanova-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova-semibold';
  src: url('/assets/fonts/proximanova-semibold/proximanova-semibold.woff2') format('woff2'),
    url('/assets/fonts/proximanova-semibold/proximanova-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --heading-1: 3.75rem;
  --heading-1-line-height: 4.5rem;
  --heading-2: 2rem;
  --heading-2-line-height: 2.25rem;
  --heading-3: 1.375rem;
  --heading-3-line-height: 1.75rem;
  --heading-4: 1.25rem;
  --heading-4-line-height: 1.5rem;
  --body-text: 0.875rem;
  --body-text-line-height: 1.25rem;
  --small-body-text: 0.75rem;
  --small-body-text-line-height: 1.125rem;
}

html {
  font-family: 'proximanova-light';
}

label {
  font-family: 'proximanova-regular';
}

h1 {
  font-family: 'proximanova-semibold';
  font-size: 2rem;
  line-height: 2rem;
}

img {
  max-width: 100%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #cca43b;
}

input,
select {
  background-color: hsl(241 5% 14.3%);
  color: #fff;
  border: 1px solid hsl(244 4.9% 21.5%);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: auto;
}

/* Make sure number input shows without the arrows so we can create range selector */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 1024px) {
 :root { 
  --heading-1: 5.125rem;
  --heading-1-line-height: 6.125rem;
  --heading-2: 3.75rem;
  --heading-2-line-height: 4.375rem;
  --heading-3: 2rem;
  --heading-3-line-height: 2.25rem;
  --heading-4: 1.625rem;
  --heading-4-line-height: 2rem;
  --body-text: 1rem;
  --body-text-line-height: 1.5rem;
  --small-body-text: 0.875rem;
  --small-body-text-line-height: 1.25rem;
 }
}