@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'proximanova-thin';
  src: url('/assets/fonts/proximanova-thin/proximanova-thin.woff2') format('woff2'),
    url('/assets/fonts/proximanova-thin/proximanova-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova-light';
  src: url('/assets/fonts/proximanova-light/proximanova-light.woff2') format('woff2'),
    url('/assets/fonts/proximanova-light/proximanova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('/assets/fonts/proximanova-regular/proximanova-regular.woff2') format('woff2'),
    url('/assets/fonts/proximanova-regular/proximanova-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova-semibold';
  src: url('/assets/fonts/proximanova-semibold/proximanova-semibold.woff2') format('woff2'),
    url('/assets/fonts/proximanova-semibold/proximanova-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'proximanova-light';
}

label {
  font-family: 'proximanova-regular';
}

h1 {
  font-family: 'proximanova-semibold';
  font-size: 2rem;
  line-height: 2rem;
}

img {
  max-width: 100%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #cca43b;
}

input,
select {
  background-color: hsl(241 5% 14.3%);
  color: #fff;
  border: 1px solid hsl(244 4.9% 21.5%);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: auto;
}

/* Make sure number input shows without the arrows so we can create range selector */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
