.container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

.sectionsWrapper {
  padding: 7rem 4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.slice {
  min-height: 100vh;
  height: 100%;
}
